{%  extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <form action ={% url 'add_account'%} method = 'post' enctype="multipart/form-data">
        {%  csrf_token %}
        <label> Select Bank </label>        
        <select name='Bank_name'>
            <option value=''>--Select Bank Account--</option>
            {%for Bank in Banks %}
                <option value = "{{Bank.Bank}}">{{Bank.Bank}}</option>
            {% endfor %}
        </select>
        <label> Enter Account Type </label>
        <select name='account_type'>
            <option value=''>--Credit/Chequing/Saving-</option>
            {%for account in accounts %}
                <option value = "{{account}}">{{account}}</option>
            {% endfor %}
        </select>
        <label>give your account a name</label>
        <input type-'text' name = 'account_name'>
        <label>Account Number</label>
        <input type='number' name = 'account_number'>
        <button type = 'submit'> Insert Account</button>
    </form>

    <h1>My Accounts</h1>
    <i class="fa-solid fa-trash" id = 'deleteallaccounts'></i>
    <div id="myGridaccounts" style="height: 90vh"></div>
{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'js/accounts.js' %}" defer></script>
{% endblock %}