{%  extends "layout.html" %}

{% block title %}transaction{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

<p class="heading" >Upload csv file</p>
    <div class="container justify-content-md-center">

        <form action={% url 'trans_page'%} method="post" enctype="multipart/form-data">
            {%  csrf_token %}
            <input type="hidden" name="input_type" value="file_upload">
            <div class="row justify-content-md-center" style="padding-bottom: 5px">
                <div class="col-6 ">
                    <input class="form-control" type='file' name='file_path' accept=".csv">
                </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-2">
                <label>Uploaded csv type</label>
              </div>
              <div class="col-4">  
                <select id = 'card_type' name='card_type'style="width: 100%;"> 
                    <option value=''>--Debit/Credit--</option>
                    {%for card_type in card_types %}
                        <option value = "{{card_type}}">{{card_type}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-2">
                <label> Account</label>
              </div>
              <div class="col-4">
                <select id  = 'account_name' name ='account_name' style="width: 100%;"> 
                    <option value=''>--Select Account--</option>
                    {%for account_name in account_names %}
                        <option value = "{{account_name.account_name}}">{{account_name.account_name}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="text-center" style="padding-top:10px; padding-bottom: 10px" >
                <button type = 'submit' class="btn btn-success ">Upload File</button>
            </div>
        </form>
        
    </div>
    <div class="hr-with-text">
        <span id="hr-style">Or</span>
    </div>
    <p class="heading " > Enter Single Transaction</p>
    <div class="container justify-content-md-center">

        <form action={% url 'trans_page'%} method="post" enctype="multipart/form-data">
            {%  csrf_token %}
            <div class="row justify-content-md-center" style="padding-bottom: 5px">
                <div class="col-2 ">
                    <label>Description</label>
                </div>
                <div class="col-4 ">
                    <input type='text' name = 'description' style="width: 100%;">
                </div>
                <div class="col-2 ">
                    <label>Date</label>
                </div>
                <div class="col-4 ">
                    <input type='date' name = 'date' style="width: 100%;">
                </div>
            </div>
            <div class="row justify-content-md-center" style="padding-bottom: 5px">
                <div class="col-2 ">
                    <label>Amount</label>
                </div>
                <div class="col-4 ">
                    <input type='number' name = 'amount' style="width: 100%;">
                </div>
                <div class="col-2 ">
                    <label> Type </label>
                </div>
                <div class="col-4 ">
                    <select name='IO' tyle="width: 100%;">
                        <option value=''>--income/expense--</option>
                        {%for io in ios %}
                            <option value = "{{io}}">{{io}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row justify-content-md-center" style="padding-bottom: 5px">
                <div class="col-2 ">
                    <label>Category</label>
                </div>
                <div class="col-4">
                    <select name='category' style="width: 100%;">
                        <option value=''>--Select Category--</option>
                        {%for category in categories %}
                            <option value = "{{category.categories_name}}">{{category.categories_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 ">
                    <label>Account</label>
                </div>
                <div class="col-4">
                    <select id = 'account_name' name ='account_name' style="width: 100%;">
                        <option value=''>--Select Account Name--</option>
                        {%for account_name in account_names %}
                            <option value = "{{account_name.account_name}}">{{account_name.account_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="text-center" style="padding-top:10px">
                <button type = 'submit' class="btn btn-success ">Insert Single Transaction</button>
            </div>
            <input type="hidden" name="input_type" value="single_entry">
        </form>
    </div>
    {% comment %} <h1>Transaction List</h1>
    <i class="fa-solid fa-trash" id = 'deletealltrans'></i>
    <div id="myGridtrans" style="height: 90vh"></div> {% endcomment %}

{% endblock %}

{% block extra_scripts %}

{% load static %}  
<script src="{% static 'js/trans.js' %}" defer></script>
<script src="{% static 'js/upload.js' %}" defer></script>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}